[Unit]
Description=Memory Game Gunicorn Service
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/path/to/mem_game
ExecStart=/usr/bin/gunicorn -c gunicorn_config.py server:app
Restart=on-failure
RestartSec=5s
Environment="PATH=/usr/bin:/usr/local/bin"

[Install]
WantedBy=multi-user.target
